flows.json
[
    {
        "id": "e6697af08b218945",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "6fd331bed11066fa",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "a06ca059b5b15b7a",
        "type": "ui_tab",
        "name": "CASA",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "b9feceb8d4af51f0",
        "type": "ui_group",
        "name": "Foco",
        "tab": "a06ca059b5b15b7a",
        "order": 2,
        "disp": true,
        "width": 8,
        "collapse": false,
        "className": ""
    },
    {
        "id": "b98168a2be6e70b8",
        "type": "ui_group",
        "name": "Sensor",
        "tab": "a06ca059b5b15b7a",
        "order": 1,
        "disp": true,
        "width": 8,
        "collapse": false,
        "className": ""
    },
    {
        "id": "2053aed682b1b8cc",
        "type": "mqtt-broker",
        "name": "Raspi",
        "broker": "192.168.2.170",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "dbb65422dc274e1d",
        "type": "noraf-config",
        "name": "Nora",
        "group": "",
        "twofactor": "off",
        "twofactorpin": "",
        "localexecution": true,
        "structure": "Robert Home"
    },
    {
        "id": "9e1e0c09724f0afe",
        "type": "ui_tab",
        "name": "Sensores",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "f5ec538b674c14b9",
        "type": "mqtt in",
        "z": "e6697af08b218945",
        "name": "Temperatura",
        "topic": "room/temperature",
        "qos": "2",
        "datatype": "json",
        "broker": "2053aed682b1b8cc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 390,
        "y": 520,
        "wires": [
            [
                "b567933128b6260f",
                "6ee6914f6b5d13e4",
                "adbde95297a3f797"
            ]
        ]
    },
    {
        "id": "adbde95297a3f797",
        "type": "ui_gauge",
        "z": "e6697af08b218945",
        "name": "",
        "group": "b98168a2be6e70b8",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "Temperatura",
        "label": "Celcuis",
        "format": "{{value}}",
        "min": 0,
        "max": "45",
        "colors": [
            "#00d9ff",
            "#00e626",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 810,
        "y": 580,
        "wires": []
    },
    {
        "id": "6ee6914f6b5d13e4",
        "type": "ui_chart",
        "z": "e6697af08b218945",
        "name": "",
        "group": "b98168a2be6e70b8",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "Seguimiento de Temperatura",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "-15",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 840,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "b567933128b6260f",
        "type": "debug",
        "z": "e6697af08b218945",
        "name": "Temperatura",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 830,
        "y": 460,
        "wires": []
    },
    {
        "id": "e165fa1b5ec73cce",
        "type": "ui_switch",
        "z": "e6697af08b218945",
        "name": "Rele #1",
        "label": "Rele #1",
        "tooltip": "",
        "group": "b98168a2be6e70b8",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "off",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "on",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 360,
        "y": 220,
        "wires": [
            [
                "6c52d2df1e4cdd17"
            ]
        ]
    },
    {
        "id": "6c52d2df1e4cdd17",
        "type": "mqtt out",
        "z": "e6697af08b218945",
        "name": "Rele #1",
        "topic": "casa/cuarto1",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "2053aed682b1b8cc",
        "x": 820,
        "y": 180,
        "wires": []
    },
    {
        "id": "7c64764d3a646b0a",
        "type": "noraf-light",
        "z": "e6697af08b218945",
        "devicename": "Foco Rele",
        "lightcolor": false,
        "brightnesscontrol": false,
        "commandonlycolor": false,
        "turnonwhenbrightnesschanges": false,
        "passthru": true,
        "errorifstateunchaged": false,
        "statepayload": true,
        "brightnessoverride": "",
        "roomhint": "Cuarto 6",
        "name": "Foco AC",
        "colortype": "hsv",
        "nora": "dbb65422dc274e1d",
        "topic": "cuarto/rele",
        "onvalue": "off",
        "onvalueType": "str",
        "offvalue": "on",
        "offvalueType": "str",
        "temperaturemin": "2700",
        "temperaturemax": "5500",
        "twofactor": "off",
        "twofactorpin": "",
        "filter": true,
        "x": 360,
        "y": 140,
        "wires": [
            [
                "6c52d2df1e4cdd17"
            ]
        ]
    },
    {
        "id": "a894a035bc345fa6",
        "type": "mqtt in",
        "z": "e6697af08b218945",
        "name": "Ultrasonico",
        "topic": "entrada/ultra0",
        "qos": "2",
        "datatype": "utf8",
        "broker": "2053aed682b1b8cc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 360,
        "y": 660,
        "wires": [
            [
                "d0a5b64b6897154d"
            ]
        ]
    },
    {
        "id": "d0a5b64b6897154d",
        "type": "debug",
        "z": "e6697af08b218945",
        "name": "Ultrasonico",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 750,
        "y": 660,
        "wires": []
    },
    {
        "id": "527c06d17fc430ab",
        "type": "mqtt in",
        "z": "e6697af08b218945",
        "name": "RFIG",
        "topic": "control/rfid",
        "qos": "2",
        "datatype": "auto",
        "broker": "2053aed682b1b8cc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 350,
        "y": 760,
        "wires": [
            [
                "e9f4ccd374f7542f"
            ]
        ]
    },
    {
        "id": "e9f4ccd374f7542f",
        "type": "debug",
        "z": "e6697af08b218945",
        "name": "RFIG",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 770,
        "y": 760,
        "wires": []
    },
    {
        "id": "85ca1fefc852214a",
        "type": "debug",
        "z": "e6697af08b218945",
        "name": "Porton",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 750,
        "y": 840,
        "wires": []
    },
    {
        "id": "19da00c8727a76f8",
        "type": "mqtt in",
        "z": "e6697af08b218945",
        "name": "Porton",
        "topic": "porton/rfig",
        "qos": "2",
        "datatype": "utf8",
        "broker": "2053aed682b1b8cc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 350,
        "y": 840,
        "wires": [
            [
                "85ca1fefc852214a"
            ]
        ]
    },
    {
        "id": "8c513e5630a93950",
        "type": "mqtt in",
        "z": "e6697af08b218945",
        "name": "MOVIMIENTO",
        "topic": "calle/pir",
        "qos": "2",
        "datatype": "auto",
        "broker": "2053aed682b1b8cc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 370,
        "y": 920,
        "wires": [
            [
                "4c3b43b6fb3dfd77"
            ]
        ]
    },
    {
        "id": "4c3b43b6fb3dfd77",
        "type": "debug",
        "z": "e6697af08b218945",
        "name": "Movimiento",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 730,
        "y": 920,
        "wires": []
    },
    {
        "id": "cdcf48c51dd578d3",
        "type": "mqtt in",
        "z": "e6697af08b218945",
        "name": "casa entrada",
        "topic": "casa/entrada",
        "qos": "2",
        "datatype": "auto",
        "broker": "2053aed682b1b8cc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 330,
        "y": 1160,
        "wires": [
            [
                "d440f579f8d587d1"
            ]
        ]
    },
    {
        "id": "d440f579f8d587d1",
        "type": "debug",
        "z": "e6697af08b218945",
        "name": "Casa entrada",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 780,
        "y": 1160,
        "wires": []
    },
    {
        "id": "d1e11f006fedc2d1",
        "type": "mqtt out",
        "z": "e6697af08b218945",
        "name": "Luz Entrada",
        "topic": "casa/entrada",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "2053aed682b1b8cc",
        "x": 810,
        "y": 1420,
        "wires": []
    },
    {
        "id": "8e8b617cab7ce734",
        "type": "noraf-switch",
        "z": "e6697af08b218945",
        "devicename": "Switch",
        "roomhint": "Luz Entrada",
        "name": "Luz Entrada",
        "passthru": false,
        "errorifstateunchaged": false,
        "nora": "dbb65422dc274e1d",
        "topic": "casa/entrada",
        "onvalue": "on",
        "onvalueType": "str",
        "offvalue": "off",
        "offvalueType": "str",
        "twofactor": "off",
        "twofactorpin": "",
        "filter": false,
        "asyncCmd": false,
        "outputs": 1,
        "x": 310,
        "y": 1420,
        "wires": [
            [
                "d1e11f006fedc2d1",
                "520e3774c3f99c2d"
            ]
        ]
    },
    {
        "id": "520e3774c3f99c2d",
        "type": "debug",
        "z": "e6697af08b218945",
        "name": "Luz Entrada",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 810,
        "y": 1500,
        "wires": []
    },
    {
        "id": "13d4d040715f8b74",
        "type": "ui_switch",
        "z": "e6697af08b218945",
        "name": "Luz Entrada",
        "label": "Luz Entrada",
        "tooltip": "",
        "group": "b9feceb8d4af51f0",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 320,
        "y": 1520,
        "wires": [
            [
                "d1e11f006fedc2d1"
            ]
        ]
    },
    {
        "id": "41e6fd410597e4fd",
        "type": "mqtt out",
        "z": "e6697af08b218945",
        "name": "Luz cuarto 2",
        "topic": "casa/cuarto5",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "2053aed682b1b8cc",
        "x": 790,
        "y": 1640,
        "wires": []
    },
    {
        "id": "55cbe8b61e6a7ec9",
        "type": "noraf-switch",
        "z": "e6697af08b218945",
        "devicename": "Switch",
        "roomhint": "Luz cuarto 2",
        "name": "Luz cuarto 2",
        "passthru": false,
        "errorifstateunchaged": false,
        "nora": "dbb65422dc274e1d",
        "topic": "casa/cuarto2",
        "onvalue": "on",
        "onvalueType": "str",
        "offvalue": "off",
        "offvalueType": "str",
        "twofactor": "off",
        "twofactorpin": "",
        "filter": false,
        "asyncCmd": false,
        "outputs": 1,
        "x": 370,
        "y": 1620,
        "wires": [
            [
                "d5cf640c9576e07d",
                "41e6fd410597e4fd"
            ]
        ]
    },
    {
        "id": "f85520edbbb9ac3c",
        "type": "noraf-switch",
        "z": "e6697af08b218945",
        "devicename": "Switch",
        "roomhint": "Luz cuarto 3",
        "name": "Luz cuarto 3",
        "passthru": false,
        "errorifstateunchaged": false,
        "nora": "dbb65422dc274e1d",
        "topic": "casa/cuarto3",
        "onvalue": "on",
        "onvalueType": "str",
        "offvalue": "off",
        "offvalueType": "str",
        "twofactor": "off",
        "twofactorpin": "",
        "filter": false,
        "asyncCmd": false,
        "outputs": 1,
        "x": 370,
        "y": 1760,
        "wires": [
            [
                "ac08c41eb194beca",
                "5f0de85423b0d3b5"
            ]
        ]
    },
    {
        "id": "8a05181ef98bc41b",
        "type": "noraf-switch",
        "z": "e6697af08b218945",
        "devicename": "Switch",
        "roomhint": "Luz cuarto 4",
        "name": "Luz cuarto 4",
        "passthru": false,
        "errorifstateunchaged": false,
        "nora": "dbb65422dc274e1d",
        "topic": "casa/cuarto4",
        "onvalue": "on",
        "onvalueType": "str",
        "offvalue": "off",
        "offvalueType": "str",
        "twofactor": "off",
        "twofactorpin": "",
        "filter": false,
        "asyncCmd": false,
        "outputs": 1,
        "x": 340,
        "y": 1920,
        "wires": [
            [
                "141ffece2ac6352b",
                "dc3e15cf327d5661"
            ]
        ]
    },
    {
        "id": "3473e2f7f311e98b",
        "type": "ui_switch",
        "z": "e6697af08b218945",
        "name": "Luz cuarto 2",
        "label": "Luz Cuarto 2",
        "tooltip": "",
        "group": "b9feceb8d4af51f0",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 360,
        "y": 1680,
        "wires": [
            [
                "41e6fd410597e4fd"
            ]
        ]
    },
    {
        "id": "f668ee6a52bc2388",
        "type": "ui_switch",
        "z": "e6697af08b218945",
        "name": "Luz cuarto 3",
        "label": "Luz Cuarto 3",
        "tooltip": "",
        "group": "b9feceb8d4af51f0",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 360,
        "y": 1820,
        "wires": [
            [
                "ac08c41eb194beca"
            ]
        ]
    },
    {
        "id": "bbb46dec9ebe19eb",
        "type": "ui_switch",
        "z": "e6697af08b218945",
        "name": "Luz cuarto 4",
        "label": "Luz Cuarto 4",
        "tooltip": "",
        "group": "b9feceb8d4af51f0",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 340,
        "y": 2000,
        "wires": [
            [
                "141ffece2ac6352b"
            ]
        ]
    },
    {
        "id": "d5cf640c9576e07d",
        "type": "debug",
        "z": "e6697af08b218945",
        "name": "Luz cuarto 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 800,
        "y": 1700,
        "wires": []
    },
    {
        "id": "5f0de85423b0d3b5",
        "type": "debug",
        "z": "e6697af08b218945",
        "name": "Luz cuarto 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 780,
        "y": 1820,
        "wires": []
    },
    {
        "id": "dc3e15cf327d5661",
        "type": "debug",
        "z": "e6697af08b218945",
        "name": "Luz cuarto 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 780,
        "y": 1940,
        "wires": []
    },
    {
        "id": "ac08c41eb194beca",
        "type": "mqtt out",
        "z": "e6697af08b218945",
        "name": "Luz cuarto 3",
        "topic": "casa/cuarto3",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "2053aed682b1b8cc",
        "x": 800,
        "y": 1760,
        "wires": []
    },
    {
        "id": "141ffece2ac6352b",
        "type": "mqtt out",
        "z": "e6697af08b218945",
        "name": "Luz cuarto 4",
        "topic": "casa/cuarto4",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "2053aed682b1b8cc",
        "x": 780,
        "y": 1900,
        "wires": []
    },
    {
        "id": "ce6348adcc8b828e",
        "type": "debug",
        "z": "e6697af08b218945",
        "name": "Luz vestubulo",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 850,
        "y": 2180,
        "wires": []
    },
    {
        "id": "e62f3c92bb5c805b",
        "type": "ui_switch",
        "z": "e6697af08b218945",
        "name": "Luz vestibulo",
        "label": "Luz Vestibulo",
        "tooltip": "",
        "group": "b9feceb8d4af51f0",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 320,
        "y": 2200,
        "wires": [
            [
                "bc7e526318c7c536"
            ]
        ]
    },
    {
        "id": "7778f449b09ff7b0",
        "type": "noraf-switch",
        "z": "e6697af08b218945",
        "devicename": "Switch",
        "roomhint": "Luz vestibulo",
        "name": "Luz vestibulo",
        "passthru": false,
        "errorifstateunchaged": false,
        "nora": "dbb65422dc274e1d",
        "topic": "casa/vestibulo",
        "onvalue": "on",
        "onvalueType": "str",
        "offvalue": "off",
        "offvalueType": "str",
        "twofactor": "off",
        "twofactorpin": "",
        "filter": false,
        "asyncCmd": false,
        "outputs": 1,
        "x": 320,
        "y": 2120,
        "wires": [
            [
                "ce6348adcc8b828e",
                "bc7e526318c7c536"
            ]
        ]
    },
    {
        "id": "bc7e526318c7c536",
        "type": "mqtt out",
        "z": "e6697af08b218945",
        "name": "Luz vestibulo",
        "topic": "casa/vestibulo",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "2053aed682b1b8cc",
        "x": 810,
        "y": 2100,
        "wires": []
    },
    {
        "id": "dc8e4ec038884e5f",
        "type": "mqtt out",
        "z": "e6697af08b218945",
        "name": "Ventilacion",
        "topic": "casa/cuarto2",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "2053aed682b1b8cc",
        "x": 750,
        "y": 380,
        "wires": []
    },
    {
        "id": "f0543ca9c9c100f3",
        "type": "ui_switch",
        "z": "e6697af08b218945",
        "name": "Ventilacion",
        "label": "Ventilacion",
        "tooltip": "",
        "group": "b98168a2be6e70b8",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "off",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "on",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 320,
        "y": 360,
        "wires": [
            [
                "dc8e4ec038884e5f"
            ]
        ]
    },
    {
        "id": "7029f3f863795c6b",
        "type": "noraf-light",
        "z": "e6697af08b218945",
        "devicename": "Ventilador",
        "lightcolor": false,
        "brightnesscontrol": false,
        "commandonlycolor": false,
        "turnonwhenbrightnesschanges": false,
        "passthru": true,
        "errorifstateunchaged": false,
        "statepayload": true,
        "brightnessoverride": "",
        "roomhint": "Cuarto 2",
        "name": "Ventilador",
        "colortype": "hsv",
        "nora": "dbb65422dc274e1d",
        "topic": "control/tempmanual",
        "onvalue": "off",
        "onvalueType": "str",
        "offvalue": "on",
        "offvalueType": "str",
        "temperaturemin": "2700",
        "temperaturemax": "5500",
        "twofactor": "off",
        "twofactorpin": "",
        "filter": true,
        "x": 320,
        "y": 300,
        "wires": [
            [
                "dc8e4ec038884e5f"
            ]
        ]
    },
    {
        "id": "ac495900bca4bf7f",
        "type": "mqtt in",
        "z": "e6697af08b218945",
        "name": "Luz",
        "topic": "calle/luz",
        "qos": "2",
        "datatype": "auto",
        "broker": "2053aed682b1b8cc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 330,
        "y": 2440,
        "wires": [
            [
                "dc52992452c0bc9f",
                "f82d5d3bffb5b588",
                "87a56ae40a0c6344"
            ]
        ]
    },
    {
        "id": "87a56ae40a0c6344",
        "type": "ui_gauge",
        "z": "e6697af08b218945",
        "name": "",
        "group": "b9feceb8d4af51f0",
        "order": 6,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "Porcentaje",
        "label": "Porcentaje",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#1d3e44",
            "#e2e600",
            "#ea7f06"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 770,
        "y": 2500,
        "wires": []
    },
    {
        "id": "f82d5d3bffb5b588",
        "type": "ui_chart",
        "z": "e6697af08b218945",
        "name": "",
        "group": "b9feceb8d4af51f0",
        "order": 7,
        "width": 0,
        "height": 0,
        "label": "Seguimiento de Intencidad de Luz",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "-15",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 820,
        "y": 2440,
        "wires": [
            []
        ]
    },
    {
        "id": "dc52992452c0bc9f",
        "type": "debug",
        "z": "e6697af08b218945",
        "name": "Luz",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 2380,
        "wires": []
    }
]